<%- include(__projectdir + "/views/partials/head.ejs") %>
</head>

<body>
  <!-- * code starts here -->

  <h1></h1>

  <!-- * code ends here -->
  <%- include(__projectdir + "/views/partials/end.ejs") %>